body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

header{
padding:40px;
}

.container{
background:white;
color:black;
padding:30px;
width:400px;
margin:auto;
border-radius:10px;
}

button{
background:#ff0066;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

img{
max-width:100%;
margin-top:20px;
}

#download{
display:block;
margin-top:20px;
color:blue;
}
